﻿@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	font-family: "Arial" , Verdana, Helvetica, Sans-Serif !important;
	color:#000000;
	font-size:75%;
	background-color:#003366;
    background-image:url(../images/bbb.jpg);
}

p{
	margin:0px 0px 0px 0px;
	padding:4px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
    font-family: "Arial" , Verdana, Helvetica, Sans-Serif;
    font-size: 14pt;
	color:#000000;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.grey {
	color: #FFFFFF;
	border: solid 1px #0C288E;
	background: #0C288E;
	background: -webkit-gradient(linear, left top, left bottom, from(#1E4BDF), to(#0C288E));
	background: -moz-linear-gradient(top,  #1E4BDF,  #0C288E);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E4BDF', endColorstr='#0C288E');
}
.grey:hover {
	background: #0C288E;
	background: -webkit-gradient(linear, left top, left bottom, from(#0C288E), to(#1E4BDF));
	background: -moz-linear-gradient(top,  #0C288E,  #1E4BDF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C288E', endColorstr='#1E4BDF');
}
.grey:active {
	color: #d9d9d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#0C288E), to(#1E4BDF));
	background: -moz-linear-gradient(top,  #0C288E,  #1E4BDF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C288E', endColorstr='#1E4BDF');
}

#header{
	height:5.4em;
	background-color:#000000;
	background-image:url(../images/bbb.jpg);
}

#column-one{
	float:left;
	height:auto;
	width:225px;
	margin:0px 0px 0px 0px;
    z-index: -1;
	background-color:#003366;
    background-image:url(../images/bbb.jpg);
}
#column-two{
	height:auto;
    width:auto;
	margin:0px 0px 0px 225px;
	background-color:#FFFFFF;
}

.clear-both{
	clear:both;
	font-size:0px;
	line-height:0px;
	height:0px;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:25px;   /* Height of the footer */
}
