body {
  font-size: 14px;
  text-align: center;
  font-family: "Trebuchet MS", arial, helvetica;
  background: #0d0d0d url(../Images/black/bg.jpg) repeat-x top center;
	color: #CCC;
}
* { padding: 0; margin: 0; }
.clear { clear: both; }

.header {
  width: 965px;
  height: 149px;
  margin: 0 auto;
  padding-top: 41px;
}
.login-header {
  width: 590px;
  height: 47px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  background: url("login/login-header.gif") no-repeat;
}
.login {
  width: 600px;
  height: 160px;
  margin: 0 auto;
  background: url("login/login-bg.gif") no-repeat;
}
form {
  width: 600px;
  padding-top: 45px;
  margin: 0 auto;
  border: none;
}
form * {
  border: none;
  font-family: "Trebuchet MS";
}
label {
  color: #474747;
  font-size: 22px;
}
input.input {
  width: 452px;
  height: 24px;
  padding: 10px;
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #3a3a3a;
  background: url("login/input.gif") no-repeat;
}
.button	{
  width: 122px;
  height: 43px;
  padding: 5px;
  color: #666;
  font-weight: bold;
  font-size: 20px;
  background: url("login/login.gif") no-repeat;
}
.button:hover {
  color: #444;
  background: url("login/login.gif") no-repeat -122px 0;
}
.left-margin {
  padding-left: 124px;
  text-align: left;
}
.left-margin label {
  padding: 0;
  margin: 0;
  line-height: 30px;
  color: #919191;
  font-size: 16px;
  display: inline;
  float: none;
}
.left-margin input#rememberMe {
  width: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0;
  display: inline;
  float: left;
  background: none;
}