<%@ Page Title="Login" Language="VB" AutoEventWireup="false" CodeFile="login.aspx.vb" Inherits="_login" %>
<%@ Register Assembly="DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <h1 class="login-header">Please Login</h1>
        <div class="login">
            <asp:Label ID="ErrorText" Style="display: block; color: red" runat="server"></asp:Label>
            <table>
                <tr>
                    <td width="30px">&nbsp;
                    </td>
                    <td>
                        <dx:ASPxLabel ID="ASPxLabel1" runat="server" Text="Username:  " Font-Size="X-Large">
                        </dx:ASPxLabel>
                    </td>
                    <td>
                        <dx:ASPxTextBox ID="txtuser" runat="server" Width="400px" Font-Size="X-Large"
                            Password="False">
                        </dx:ASPxTextBox>
                    </td>
                </tr>
                <tr>
                    <br />
                </tr>
                <tr>
                    <td width="30px">&nbsp;
                    </td>
                    <td>
                        <dx:ASPxLabel ID="ASPxLabel2" runat="server" Text="Password:  " Font-Size="X-Large">
                        </dx:ASPxLabel>
                    </td>
                    <td>
                        <dx:ASPxTextBox ID="TBPassword" runat="server" Width="400px" Font-Size="X-Large"
                            Password="True">
                        </dx:ASPxTextBox>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <center>
                    <dx:ASPxButton ID="LoginButton" runat="server" Text="Login" Font-Size="X-Large">
                    </dx:ASPxButton></center>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
