@charset "utf-8";
/* CSS Document */

.mainbody{ position:relative;
margin:0 auto;
padding:0;
width:960px}

body {font-family:Arial, Helvetica, sans-serif;font-size:100%; background-image:url('body.jpg');
margin: 0 auto;
padding: 0;}
			
.Layout13_1{ margin: 0 auto; width:60%; background-color:white;  height:600px;}		
				
.Layout13_header{ margin: 0 auto; width:60%; height:100px;}			
.Layout13_title{ background-color:#333333; margin: 0 auto; width:60%; height:25px;}	
.Layout13_footer{ background-color:black; margin: 0 auto; width:60%; height:30px;}	

				
h2 {font-size:39px;line-height:1.9em;color:#0f0f0f;margin-bottom:5px;letter-spacing:-2px}
h3 {font-size:30px;line-height:1.3em;margin-top:-5px;letter-spacing:-2px}
h3 strong {display:block;color:#fefefe;margin-bottom:-11px}
h4 {font-size:23px;line-height:1.2em;color:#fefefe;letter-spacing:-1px;margin-bottom:20px}
h5 {color:#0f0f0f;text-decoration:underline;font-weight:normal}
h6 {color:#0f0f0f;font-weight:normal;margin-bottom:5px}
h7 {font-size:12px;line-height:1.2em;color:#A8A8A8;letter-spacing:-1px;margin-bottom:20px}
dl.address {line-height:24px;color:#9d9d9d}
dl.address span {float:left;width:74px;color:#fefefe}
dl.contact {line-height:20px;color:#9d9d9d}
dl.contact span {display:block;color:#0f0f0f}
dl.contact dt, dl.contact dd {margin-bottom:5px}
.col-1, .col-2, .col-3, .col-4  {float:left}